@font-face {
   font-family: 'Unica One';
   font-style: regular;
   font-weight: 400;
   src: url('file:///Users/gosam/Documents/GitHub/www_threefold.tech/www_threefold.tech//fonts/Unica One/regular.ttf') format('truetype');
}
