:80 {
    bind 0.0.0.0
    gzip
    root www.threefold.tech/en

    git {
        repo ssh://git@docs.grid.tf:7022/threefold/community_data.git
        branch master
        hook /gitea/pull/community_data "zU3687$aJEb6"
        key ~/.ssh/id_rsa
        path ../../../community_data
        then rm -rf ../www_threefold.tech/www.threefold.tech/en/
        then python3 community.py
        then hugo -s ../www_threefold.tech/www.threefold.tech
    }

    git {
        repo ssh://git@docs.grid.tf:7022/threefold/data_team.git
        branch master
        hook /gitea/pull/tf_data_team "zU3687$aJEb6"
        key ~/.ssh/id_rsa
        path ../../../threefold/data_team/
        then python3 process.py www_threefold.tech/www.threefold.tech
        then git reset --hard HEAD
        then git -C "../../bettertoken/data_team" reset --hard HEAD
        then hugo -s ../../www_threefold.tech/www.threefold.tech
    }

    git {
        repo ssh://git@docs.grid.tf:7022/bettertoken/data_team.git
        branch master
        hook /gitea/pull/bt_data_team "zU3687$aJEb6"
        key ~/.ssh/id_rsa
        path ../../../bettertoken/data_team/
        then python3 ../../threefold/data_team/process.py www_threefold.tech/www.threefold.tech
        then git reset --hard HEAD
        then git -C "../../threefold/data_team" reset --hard HEAD
        then hugo -s ../../www_threefold.tech/www.threefold.tech
    }

    git {
        repo ssh://git@github.com:threefoldtech/www_threefold.tech.git
        branch master
        hook /webhook "zU3687$aJEb6"
        key ~/.ssh/id_rsa
        path ../..
        then hugo -s www.threefold.tech
    }
}
