:8080 {
    bind 0.0.0.0


    git {
        repo ssh://git@github.com:threefoldtech/www_threefold.tech.git
        branch master
        hook /webhook "zU3687$aJEb6"
        key ~/.ssh/id_rsa
        path ../..
        
    }
}
