<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="{{ .Site.Author.name }}" />

    {{ if .Keywords }}
    <meta name="keywords" content="{{ delimit .Keywords " , " }}">
    {{ else if .Site.Params.DefaultKeywords }}
    <meta name="keywords" content="{{ delimit .Site.Params.DefaultKeywords " , " }}">
    {{ end }}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,700|Barlow:300,400,500,700" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/all.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">

    <title>ThreeFold.TECH</title>
</head>