<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    <!-- Navbar -->
    {{ partial "nav.html" . }}
    <!-- end Navbar -->

    <div class="container">
        {{ range $element := .Data.Pages }}
        {{ if eq .Section "home" }}
        {{ if eq .Title "tech" }}
        <!-- TF Tech Sec -->
        {{ partial "home/tech.html" . }}
        <!-- end TF Tech Sec -->

        <!-- Credibility Sec -->
        {{ else if eq .Title "credibility" }}
        {{ partial "home/credibility.html" . }}
        <!-- end Credibility Sec -->

        <!-- Passion Sec -->
        {{ else if eq .Title "passion" }}
        {{ partial "home/passion.html" . }}
        <!-- end Passion Sec -->

        <!-- Execution Sec -->
        {{ else if eq .Title "execution" }}
        {{ partial "home/execution.html" . }}
        <!-- end Execution Sec -->

        <!-- Technology Sec -->
        {{ else if eq .Title "technology" }}
        {{ partial "home/technology.html" . }}
        <!-- end Technology Sec -->

        <!-- Contact Sec -->
        {{ else if eq .Title "contact" }}
        {{ partial "home/contact.html" . }}
        <!-- end Contact Sec -->

        <!-- Footer Sec -->
        {{ else if eq .Title "footer" }}
        {{ partial "footer.html" . }}
        <!-- end Footer Sec -->
        {{end}}
        {{end}}
        {{end}}
    </div>
    <!-- end container -->

    {{ partial "scripts.html" . }}

</body>

</html>