<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    <!-- Navbar -->
    {{ partial "nav.html" . }}
    <!-- end Navbar -->

    <div class="container">
        {{ range $element := .Data.Pages }}
        {{ if eq .Section "home" }}
        {{ if eq .Title "tech" }}
        <!-- TF Tech Sec -->
        {{ partial "home/tech.html" . }}
        <!-- end TF Tech Sec -->

        <!-- Credibility Sec -->
        {{ else if eq .Title "credibility" }}
        {{ partial "home/credibility.html" . }}
        <!-- end Credibility Sec -->

        <!-- Passion Sec -->
        {{ else if eq .Title "passion" }}
        {{ partial "home/passion.html" . }}
        <!-- end Passion Sec -->

        <!-- Execution Sec -->
        <div class="execution" id="execution">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <h1 class="h1 text-uppercase font-weight-bold">Execution</h1>
                </div>
                <div class="col-12 col-lg-8">
                    <h2 class="h2 text-muted text-capitalize">Proof of technology</h2>
                    <p>TFTech Technology is already being proven in terms of it's viability. In parternership with the
                        ThreeFold Foundation, our technology is empowerig a New responsible Internet (www.threefold.io)
                        offering a fully decentralized and distributed grid of compute and storage capacity intended to
                        eable better privacy, neutrality and cost efficiency for the internet of tomorrow.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 offset-lg-4 col-lg-8">
                    <h2 class="h2 text-muted text-capitalize">Parteners</h2>

                    <div class="row mt-5 flex-wrap">
                        <div class="col-12 col-lg-4">
                            <a href="#" class="mb-4 h-100">
                                <img class="img-fluid" src="http://placehold.it/200x200" alt="">
                            </a>
                        </div>
                        <div class="col-12 col-lg-4">
                            <a href="#" class="mb-4 h-100">
                                <img class="img-fluid" src="http://placehold.it/200x200" alt="">
                            </a>
                        </div>
                        <div class="col-12 col-lg-4">
                            <a href="#" class="mb-4 h-100">
                                <img class="img-fluid" src="http://placehold.it/200x200" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Execution Sec -->

        </div>

        <!-- Technology Sec -->
        <div class="technology" id="technology">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <h1 class="h1 text-uppercase font-weight-bold">Technology</h1>
                </div>

                <div class="col-12 col-lg-8">
                    <h2 class="h2 text-muted text-capitalize">Differentiators</h2>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <h4 class="h4 text-uppercase font-weight-bolder mt-5">Zero People</h4>
                            <p>Stateless computing with self healing capabilities allows our technology to exists
                                everywhere. Minimise the need to human intervention and understanding (lowering TCO).</p>
                        </div>
                        <div class="col-12 col-lg-6">
                            <h4 class="h4 text-uppercase font-weight-bolder mt-5">Simplicity</h4>
                            <p>Achieve maximum performance from IT infrastructure by making everything extremely
                                simple. Distibuted digital workers wih a single core function and nothing more.</p>
                        </div>
                        <div class="col-12 col-lg-6">
                            <h4 class="h4 text-uppercase font-weight-bolder mt-5">Blockchain Technology</h4>
                            <p>Our zero-robot technology has allowed us to resolve what we deem to be the Blockchain
                                Dilemma. The internet architectural shortcoming of blockchain allows either scalability
                                or security but we have achieved both with our zero-chain technology that allows a
                                proof of stake blockchain that is both scalable and secure.</p>
                        </div>
                        <div class="col-12 col-lg-6">
                            <h4 class="h4 text-uppercase font-weight-bolder mt-5">Scalability &amp; Security</h4>
                            <p>Digital workers managing operational and financial trancastions on the grid peer-to-peer
                                with a stateless operating system creates an infinitely scalable platform on number os
                                capacity nodes (Zero OS enabled) and digital workers (Zero Robot) managing the
                                activities.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 offset-lg-4 col-lg-8">
                    <h2 class="h2 text-muted text-capitalize">Components</h2>
                    <div class="col">
                        <h4 class="h4 text-uppercase font-weight-bolder mt-5">Zero OS</h4>
                        <p>Our lightweight sateless Operating system. Designed yo be very efficient in making hardware
                            available on the peer to peer grig network for actual IT workloads. You can find it here on
                            Github as open source and here for bootstrap purposes.</p>
                    </div>
                    <div class="col">
                        <h4 class="h4 text-uppercase font-weight-bolder mt-5">Zero Chain</h4>
                        <p>Our (permissioned) Proof Of Stake Blockchain (PoS). A versatile blockchain technology
                            implemented on the TG Grid to amnage all financial transactions and authoritative identity
                            information (Zero Chain) for all Zero Bots. The Zero Bots use a different, private
                            implementation of this PoS blockchain to store all state information of all tasks it is
                            managin. There will literally be millions of blockchains running on the TF Grid.</p>
                    </div>
                    <div class="col">
                        <h4 class="h4 text-uppercase font-weight-bolder mt-5">Zero Robot</h4>
                        <p>A Zero Bot is a virtual worker on the TF Grid. You can find it here on Github. Ther worker
                            can be givien different knowledge to perform a variety of tasks. The Bot lives on the
                            network and takes care of all the system administration tasks on and for the grid, and also
                            acts as a digital avatar for all grid producers and consumers.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Technology Sec -->

        <!-- Contact Sec -->
        <div class="contact" id="contact">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <h1 class="h1 text-uppercase font-weight-bold">Contact</h1>
                </div>

                <div class="col-12 col-lg-8">
                    <h2 class="h2 text-muted text-capitalize mb-3">Map</h2>
                    <!--The div element for the map -->
                    <div id="map"></div>
                    <script>
                        // Initialize and add the map
                        function initMap() {
                            // The location of lochristi
                            var lochristi = {
                                lat: 51.1,
                                lng: 3.8333
                            };
                            // The map, centered at lochristi
                            var map = new google.maps.Map(
                                document.getElementById('map'), {
                                    zoom: 14,
                                    center: lochristi
                                });
                            // The marker, positioned at lochristi
                            var marker = new google.maps.Marker({
                                position: lochristi,
                                map: map
                            });
                        }
                    </script>
                    <h2 class="h2 text-muted text-capitalize mt-5">Contact form</h2>

                    <form class="mt-5">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control font-weight-bolder" id="fName" placeholder="FIRST NAME">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control font-weight-bolder" id="lName" placeholder="LAST NAME">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control font-weight-bolder" id="mail" placeholder="EMAIL ADDRESS">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="tel" class="form-control font-weight-bolder" id="tel" placeholder="TELEPHONE NUMBER">
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control font-weight-bolder" id="message" rows="10" placeholder="MESSAGE"></textarea>
                        </div>

                        <button type="submit" class="btn">Send</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- end Contact Sec -->

        <!-- Footer Sec -->
        <footer class="footer">
            <div class="container">
                <p class="text-center">&copy; ThreeFold Tech 2019</p>
            </div>
        </footer>
        <!-- end Footer Sec -->
        {{end}}
        {{end}}
        {{end}}
    </div>
    <!-- end container -->

    {{ partial "scripts.html" . }}

</body>

</html>