@font-face {
   font-family: 'Barlow Semi Condensed';
   font-style: normal;
   font-weight: 100;
   src: url('file:///Users/RoelvanSabben1/Documents/GitHub/www_threefold.tech//fonts/Barlow Semi Condensed/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Barlow Semi Condensed';
   font-style: normal;
   font-weight: 200;
   src: url('file:///Users/RoelvanSabben1/Documents/GitHub/www_threefold.tech//fonts/Barlow Semi Condensed/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Barlow Semi Condensed';
   font-style: normal;
   font-weight: 300;
   src: url('file:///Users/RoelvanSabben1/Documents/GitHub/www_threefold.tech//fonts/Barlow Semi Condensed/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Barlow Semi Condensed';
   font-style: normal;
   font-weight: 500;
   src: url('file:///Users/RoelvanSabben1/Documents/GitHub/www_threefold.tech//fonts/Barlow Semi Condensed/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Barlow Semi Condensed';
   font-style: normal;
   font-weight: 600;
   src: url('file:///Users/RoelvanSabben1/Documents/GitHub/www_threefold.tech//fonts/Barlow Semi Condensed/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Barlow Semi Condensed';
   font-style: normal;
   font-weight: 700;
   src: url('file:///Users/RoelvanSabben1/Documents/GitHub/www_threefold.tech//fonts/Barlow Semi Condensed/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Barlow Semi Condensed';
   font-style: normal;
   font-weight: 800;
   src: url('file:///Users/RoelvanSabben1/Documents/GitHub/www_threefold.tech//fonts/Barlow Semi Condensed/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Barlow Semi Condensed';
   font-style: normal;
   font-weight: 900;
   src: url('file:///Users/RoelvanSabben1/Documents/GitHub/www_threefold.tech//fonts/Barlow Semi Condensed/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Barlow Semi Condensed';
   font-style: italic;
   font-weight: 100;
   src: url('file:///Users/RoelvanSabben1/Documents/GitHub/www_threefold.tech//fonts/Barlow Semi Condensed/100italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Barlow Semi Condensed';
   font-style: italic;
   font-weight: 200;
   src: url('file:///Users/RoelvanSabben1/Documents/GitHub/www_threefold.tech//fonts/Barlow Semi Condensed/200italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Barlow Semi Condensed';
   font-style: italic;
   font-weight: 300;
   src: url('file:///Users/RoelvanSabben1/Documents/GitHub/www_threefold.tech//fonts/Barlow Semi Condensed/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Barlow Semi Condensed';
   font-style: regular;
   font-weight: 400;
   src: url('file:///Users/RoelvanSabben1/Documents/GitHub/www_threefold.tech//fonts/Barlow Semi Condensed/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Barlow Semi Condensed';
   font-style: italic;
   font-weight: 400;
   src: url('file:///Users/RoelvanSabben1/Documents/GitHub/www_threefold.tech//fonts/Barlow Semi Condensed/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Barlow Semi Condensed';
   font-style: italic;
   font-weight: 500;
   src: url('file:///Users/RoelvanSabben1/Documents/GitHub/www_threefold.tech//fonts/Barlow Semi Condensed/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Barlow Semi Condensed';
   font-style: italic;
   font-weight: 600;
   src: url('file:///Users/RoelvanSabben1/Documents/GitHub/www_threefold.tech//fonts/Barlow Semi Condensed/600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Barlow Semi Condensed';
   font-style: italic;
   font-weight: 700;
   src: url('file:///Users/RoelvanSabben1/Documents/GitHub/www_threefold.tech//fonts/Barlow Semi Condensed/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Barlow Semi Condensed';
   font-style: italic;
   font-weight: 800;
   src: url('file:///Users/RoelvanSabben1/Documents/GitHub/www_threefold.tech//fonts/Barlow Semi Condensed/800italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Barlow Semi Condensed';
   font-style: italic;
   font-weight: 900;
   src: url('file:///Users/RoelvanSabben1/Documents/GitHub/www_threefold.tech//fonts/Barlow Semi Condensed/900italic.ttf') format('truetype');
}
