* {
    font-family: 'Barlow', sans-serif;
}

/* nav */

.sticky-top {
    padding-top: 72px;

}

.nav-link {
    color: #858585;
    font-family: 'Barlow', sans-serif;
    font-size: 19px;
    font-weight: 600;
    line-height: 23px;
}

/* TF tech sec */
.tech {
    position: relative;
    min-height: 80vh;
    padding-top: 212px;
}

.tech strong {
    font-weight: bolder;
    font-size: 23px;
    font-family: 'Barlow', sans-serif;
    line-height: 24px;

}

.tech h1,
.credibility h1,
.passion h1,
.execution h1,
.technology h1,
.contact h1,
.contact form ::placeholder,
.form-control:focus {
    color: #0F296A;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 0px;
}

.passion h2,
.technology h2,
.execution h2,
.contact h2 {
    color: #2D2D2D !important;
    font-family: Barlow;
    font-size: 36px;
    font-weight: 300;
    line-height: 43px;
}

p {
    font-size: 1.2rem;
    color: #000;
}

.contact form ::placeholder,
.form-control:focus {
    font-size: 1rem;
}

h4 {
    color: #0F296A !important;
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}

.tech p {
    font-size: 1.2rem;
    color: #000;
}

.tech_bold {
    font-size: 45px;
    font-weight: 500 !important;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: -1px;

}

.right_side {
    padding-left: 50px;
}

.ct-btn-scroll {
    width: 20px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.tech .first-arrow,
.tech .second-arrow {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    position: relative;
    width: 3.6em;
    height: 3.6em;
}

.tech .first-arrow:before,
.tech .second-arrow:before {
    -webkit-transform: translateX(0.6em) translateY(1.55em) rotate(225deg);
    transform: translateX(0.6em) translateY(1.55em) rotate(225deg);
}

.tech .first-arrow:after,
.tech .second-arrow:after {
    -webkit-transform: translateX(0.8em) translateY(1.55em) rotate(-45deg);
    transform: translateX(0.8em) translateY(1.55em) rotate(-45deg);
}

.tech .first-arrow:before,
.tech .first-arrow:after,
.tech .second-arrow:before,
.tech .second-arrow:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 0.1em;
    border-radius: 0.25em;
    background-color: currentColor;
    transition: all 0.15s ease, background-color 0.8s ease;
    -webkit-transform-origin: 0.2em 50%;
    transform-origin: 0.2em 50%;
    will-change: transform;
}

.tech .second-arrow:before,
.tech .second-arrow:after {
    top: 10px;
}

/* end TF tech Sec */

/* Credibility Sec */
.credibility,
.passion,
.execution,
.technology,
.contact {
    padding: 200px 0;
}

/* end Credibility Sec */

/* Passion sec */
.rj-team .rj-team-member .rj-team-member-info-text,
.rj-team .rj-team-member .rj-team-member-info-text .member-name,
.partners .partner-member .partner-member-info-text,
.partners .partner-member .partner-member-info-text .member-name {
    color: #fff;
}

.rj-team .member-photo.selected:after,
.partners .member-photo.selected:after {
    border-bottom-color: #0d2e75;
}

.rj-team-member-photo-rollover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.rj-team-member-photo-rollover:hover {
    -webkit-filter: grayscale();
    filter: grayscale(0%);
}

.rj-team .rj-team-member .rj-team-member-info-text,
.partners .partner-member .partner-member-info-text {
    background-color: #0d2e75;
}

.rj-team-member-info-text .member-name,
.partner-member-info-text .member-name {
    font-family: "Barlow Condensed", sans-serif;
}

.passion p,
.rj-team-member-info-text .bio-excerpt,
.partner-member-info-text .bio-excerpt {
    font-family: "Nunito Sans", sans-serif;
}

.rj-team-member .video {
    margin-top: 20px;
    width: 100%;
}

.rj-team-member .video span {
    text-transform: uppercase;
    color: #0d2e75;
}

.rj-team .member-photo:hover {
    z-index: 2
}

.rj-team .rj-team-member,
.rj-team .rj-team-member *,
.partners .partner-member,
.partners .partner-member * {
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

vertical-align:middle .rj-investor div.rj-investor-svangel {
    padding-top: 20px !important
}

.rj-team,
.partners {
    padding-top: 1rem;
    padding-bottom: 2rem
}

.rj-team:after,
.partners:after {
    content: ' ';
    display: table;
    clear: both;
    height: 0
}

.rj-team .rj-team-member,
.partners .partner-member {
    display: block;
    cursor: pointer;
    position: relative;
    float: left;
    width: 12.5%
}

.partners .partner-member {
    width: 25.5%;
}

.rj-team .rj-team-member .rj-team-member-photo-rollover {
    display: block;
    width: 100%;
    margin: 0
}

.rj-team .rj-team-member .rj-team-member-info-text,
.partners .partner-member .partner-member-info-text {
    display: none;
    position: absolute;
    top: 100%;
    width: 800%;
    padding: 50px 20px;
    background: #0F296A;
    left: 0;
    margin-left: 0;
    color: #fff;
    font-size: inherit;
    z-index: 1;
    cursor: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0
}

.partners .partner-member .partner-member-info-text {
    width: 400%;
}

.rj-team .member-photo.selected:after,
.partners .member-photo.partner-member-info-text:after {
    content: '';
    position: absolute;
    border: 19px solid transparent;
    border-bottom-color: #0F296A;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    width: 19px;
}

.rj-team .rj-team-member .rj-team-member-info-text .close-bio {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem
}

.rj-team .rj-team-member .rj-team-member-info-text .member-name,
.partners .partner-member .partner-member-info-text .member-name {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: #fff;
    font-weight: 600;
    padding-top: .5rem;
    line-height: 1.4rem;
    text-transform: capitalize
}

.rj-team .rj-team-member .rj-team-member-info-text .bio-excerpt,
.partners .partner-member .partner-member-info-text .bio-excerpt {
    font-size: 1rem;
    line-height: 1.6rem
}

.rj-team .rj-team-member .rj-team-member-info-text:after,
.partners .partner-member .partner-member-info-text:after {
    content: none
}

.rj-team .rj-team-member:nth-child(8n+2) .rj-team-member-info-text {
    margin-left: -100%
}

.partners .partner-member:nth-child(3n+2) .partner-member-info-text,
.partners .partner-member:nth-child(3n+5) .partner-member-info-text {
    margin-left: -150%
}

.rj-team .rj-team-member:nth-child(8n+3) .rj-team-member-info-text {
    margin-left: -200%
}

.rj-team .rj-team-member:nth-child(8n+4) .rj-team-member-info-text,
.partners .partner-member:nth-child(3n+3) .partner-member-info-text {
    margin-left: -300%
}

.partners .partner-member:nth-child(3n+4) .partner-member-info-text,
.partners .partner-member:nth-child(3n+7) .partner-member-info-text {
    margin-left: 0;
}

.partners .partner-member:nth-child(3n+6) .partner-member-info-text {
    margin-left: -300%
}

.rj-team .rj-team-member:nth-child(8n+5) .rj-team-member-info-text {
    margin-left: -400%
}

.rj-team .rj-team-member:nth-child(8n+6) .rj-team-member-info-text {
    margin-left: -500%
}

.rj-team .rj-team-member:nth-child(8n+7) .rj-team-member-info-text {
    margin-left: -600%
}

.rj-team .rj-team-member:nth-child(8n+8) .rj-team-member-info-text {
    margin-left: -700%
}

/* technology section */

.github_button {
    margin-top: 15px;
    font-size: 14px;
    text-transform: uppercase;
    border-color: #0F296A;
    color: #0F296A;

}

.fab {
    margin-right: 10px;
}

/* end Passion Sec */

/* start partners sec */

/* end partners sec */
/* map */
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.form-control,
.contact form input,
.form-control:focus {
    background: #d8d8d8 !important;
}

.contact form button,
.btn:hover {
    background-color: #0f2969;
    color: #fff;
}

.contact form .btn {
    padding: .375rem 5rem;
    text-transform: uppercase;
}

.form-control:focus {
    box-shadow: transparent;
    border-color: transparent;
}

.address_map ul {
    list-style: none;
}

/* footer */

.text_footer {
    font-size: 12px;
    color: #0f2969;
}

@media screen and (max-width: 992px) {

    .rj-team .rj-team-member,
    .partners .partner-member {
        width: 20%
    }

    .rj-team .rj-team-member .rj-team-member-info-text,
    .partners .partner-member .partner-member-info-text {
        width: 500%;
        padding-right: 30px
    }

    .rj-team .rj-team-member:nth-child(5n+1) .rj-team-member-info-text,
    .partners .partner-member:nth-child(5n+1) .partner-member-info-text {
        margin-left: 0
    }

    .rj-team .rj-team-member:nth-child(5n+2) .rj-team-member-info-text,
    .partners .partner-member:nth-child(5n+2) .partner-member-info-text {
        margin-left: -100%
    }

    .rj-team .rj-team-member:nth-child(5n+3) .rj-team-member-info-text,
    .partners .partner-member:nth-child(5n+3) .partner-member-info-text {
        margin-left: -200%
    }

    .rj-team .rj-team-member:nth-child(5n+4) .rj-team-member-info-text,
    .partners .partner-member:nth-child(5n+4) .partner-member-info-text {
        margin-left: -300%
    }

    .rj-team .rj-team-member:nth-child(5n+5) .rj-team-member-info-text,
    .partners .partner-member:nth-child(5n+5) .partner-member-info-text {
        margin-left: -400%
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .rj-team,
    .partners {
        padding-bottom: 10rem;
    }
}

@media screen and (max-width: 768px) {

    .rj-team .rj-team-member,
    .partners .partner-member {
        width: 33.33%
    }

    .rj-team .rj-team-member .rj-team-member-info-text,
    .partners .partner-member .partner-member-info-text {
        width: 300%;
        padding: 15px 0
    }

    .rj-team .rj-team-member .rj-team-member-info-text .bio-excerpt,
    .partners .partner-member .partner-member-info-text .bio-excerpt {
        display: none
    }

    .rj-team .rj-team-member .rj-team-member-info-text .member-name,
    .partners .partner-member .partner-member-info-text .member-name {
        font-size: 1rem;
        padding-top: 0
    }

    .rj-team .rj-team-member .rj-team-member-info-text .close-bio {
        top: 0;
        right: 10px
    }

    .rj-team .rj-team-member:nth-child(3n+1) .rj-team-member-info-text,
    .partners .partner-member:nth-child(3n+1) .partner-member-info-text {
        margin-left: 0
    }

    .rj-team .rj-team-member:nth-child(3n+2) .rj-team-member-info-text,
    .partners .partner-member:nth-child(3n+2) .partner-member-info-text {
        margin-left: -100%
    }

    .rj-team .rj-team-member:nth-child(3n+3) .rj-team-member-info-text,
    .partners .partner-member:nth-child(3n+3) .partner-member-info-text {
        margin-left: -200%
    }

    .rj-team-member-info-text img,
    .partner-member-info-text img {
        display: none
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {

    .tech h1,
    .credibility h1,
    .passion h1,
    .execution h1,
    .technology h1,
    .contact h1 {
        text-align: left !important;
    }

    .member-name {
        text-align: center;
    }

    .rj-team,
    .partners {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}