@font-face {
   font-family: 'Rajdhani';
   font-style: normal;
   font-weight: 300;
   src: url('file:///Users/gosam/Documents/GitHub/www_threefold.tech/www_threefold.tech//fonts/Rajdhani/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Rajdhani';
   font-style: normal;
   font-weight: 500;
   src: url('file:///Users/gosam/Documents/GitHub/www_threefold.tech/www_threefold.tech//fonts/Rajdhani/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Rajdhani';
   font-style: normal;
   font-weight: 600;
   src: url('file:///Users/gosam/Documents/GitHub/www_threefold.tech/www_threefold.tech//fonts/Rajdhani/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Rajdhani';
   font-style: normal;
   font-weight: 700;
   src: url('file:///Users/gosam/Documents/GitHub/www_threefold.tech/www_threefold.tech//fonts/Rajdhani/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Rajdhani';
   font-style: regular;
   font-weight: 400;
   src: url('file:///Users/gosam/Documents/GitHub/www_threefold.tech/www_threefold.tech//fonts/Rajdhani/regular.ttf') format('truetype');
}
