<div class="contact" id="contact">
    <div class="row">
        <div class="col-12 col-lg-4">
            <h1 class="h1 text-uppercase">{{ .Params.Title }}</h1>
        </div>

        <div class="col-12 col-lg-8 right_side">
            <h2 class="h2 text-muted text-capitalize mb-3">{{ .Params.map }}</h2>
            <!--The div element for the map -->
            <div id="map"></div>
            <script>
                // Initialize and add the map
                        function initMap() {
                            // The location of lochristi
                            var lochristi = {
                                lat: 51.1,
                                lng: 3.8333
                            };
                            // The map, centered at lochristi
                            var map = new google.maps.Map(
                                document.getElementById('map'), {
                                    zoom: 14,
                                    center: lochristi
                                });
                            // The marker, positioned at lochristi
                            var marker = new google.maps.Marker({
                                position: lochristi,
                                map: map
                            });
                        }
                    </script>
            <h2 class="h2 text-muted text-capitalize mt-5">{{ .Params.contact }}</h2>

            <form class="mt-5">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control font-weight-bold" id="fName" placeholder="FIRST NAME">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control font-weight-bold" id="lName" placeholder="LAST NAME">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control font-weight-bold" id="mail" placeholder="EMAIL ADDRESS">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="tel" class="form-control font-weight-bold" id="tel" placeholder="TELEPHONE NUMBER">
                    </div>
                </div>

                <div class="form-group">
                    <textarea class="form-control font-weight-bold" id="message" rows="10" placeholder="MESSAGE"></textarea>
                </div>

                <button type="submit" class="btn">Send</button>
            </form>
        </div>
    </div>
</div>
