<div class="passion" id="passion">
    <div class="row">
        <div class="col-12 col-lg-4">
            <h1 class="h1 text-uppercase text-right">{{ .Params.Title }}</h1>
        </div>
        <div class="col-12 offset-lg-1 col-lg-7">
            <h2 class="h2 text-muted text-capitalize">{{ .Params.header_p1 }}</h2>

            <div class="row mt-5 flex-wrap">
                <div id="threefold" class="team-member"></div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 offset-lg-5 col-lg-7">
            <h2 class="h2 text-muted text-capitalize">{{ .Params.header_p2 }}</h2>
            <div class="row mt-5 flex-wrap">
                <div id="tech-team" class="team-member"></div>
            </div>
        </div>
    </div>
</div>