@font-face {
   font-family: 'Orbitron';
   font-style: normal;
   font-weight: 500;
   src: url('file:///Users/gosam/Documents/GitHub/www_threefold.tech/www_threefold.tech//fonts/Orbitron/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Orbitron';
   font-style: normal;
   font-weight: 700;
   src: url('file:///Users/gosam/Documents/GitHub/www_threefold.tech/www_threefold.tech//fonts/Orbitron/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Orbitron';
   font-style: normal;
   font-weight: 900;
   src: url('file:///Users/gosam/Documents/GitHub/www_threefold.tech/www_threefold.tech//fonts/Orbitron/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Orbitron';
   font-style: regular;
   font-weight: 400;
   src: url('file:///Users/gosam/Documents/GitHub/www_threefold.tech/www_threefold.tech//fonts/Orbitron/regular.ttf') format('truetype');
}
